/* Pon tu código css aqui */
.box4{
border:1px solid;
}

.box1,.box2,.box3{
    width:25%;
    height:100px;
    float:right;
}

 .box1{
 	background-color:yellow;
 }
 .box2{
 	background-color:#1864F1;
 }
 .box3{
 	background-color:#E51B52;
 }
